{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>{{ title }}</h1>
            {% if messages %}
                <div class="alert alert-info">
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form action="/crud/update/{{ user.id }}" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-sm btn-primary mt-3">Salvar</button>
            </form>
        </div>
    </div>
{% endblock %}


